html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1;
}

.results-weather-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

 

 @media (max-width: 768px) {
  .results-weather-container {
    flex-direction: column;
  }
}