.App {
  text-align: center;
  padding: 20px;
}

.results-weather-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

 

 @media (max-width: 768px) {
  .results-weather-container {
    flex-direction: column;
  }
}